/********************** GENERAL SETTINGS START **********************/
/* Color Palette and Typography Start */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400);
/* End: Color Palette and Typography */
/********************** END: GENERAL SETTINGS **********************/
body {
  font: normal normal 13px/16px "Open Sans", sans-serif;
  background: #dfdfdf;
}

.container {
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
  background: #ffffff;
  border-radius: 5px;
}
.container form {
  display: inline-block;
}
.container form input {
  padding: 4px 15px 4px 5px;
}
